[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
GenericName=Terminal Emulator
Comment=Fast, feature-rich, GPU based terminal emulator
TryExec=kitty
Exec=kitty
Icon=kitty
Categories=System;TerminalEmulator;
Terminal=false
StartupWMClass=kitty
StartupNotify=true
MimeType=application/x-terminal-emulator;
Keywords=terminal;console;shell; 